# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Coverage
*.out
coverage.out

# Build output
dist/
build/
bin/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Cache lyric
song_meta/

# Token Spotify
.spotify_token.json
